body {
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
letter-spacing: -1px;
font-size: 12pt;
background-color: ##EAF5FF;
}

h1 {
	font-size: 20pt;
	text-transform: uppercase;
	color: #333333;
	background-color: #EEEEEE;
}

h2 {
	font-size: 15pt;
}

form {
	float: right;
	width: 300px;


}

input[type=submit] {
font-family: "Lucida Sans Unicode";
font-size: 9pt;
text-transform: lowercase;
}