body {
font-family: "Lucida Sans Unicode";
letter-spacing: -1px;
font-size: 12pt;
background-color: #D6EBFF;
}

h1 {
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	background-color: #EEEEEE;
}

h2 {
text-transform: uppercase;
font-size: 15pt;

}
/*
form {
	float: right;
	width: 300px;

*/
}
/*
input[type=submit] {
font-family: "Lucida Sans Unicode";
font-size: 9pt;
text-transform: lowercase;
}*/